*~
.idea
*.pwd.js
*.suo
*.*.suo
CommandLine.dll
JayData_readme.txt
JaySvcUtil.exe
Scripts/jaydata*
/obj/*
/3rdparty/*
/bin/*
!bin/Antlr3.Runtime.dll
!bin/EntityFramework.dll
!bin/System.Net.Http.dll
!bin/System.Net.Http.WebRequest.dll
!bin/System.Web.Optimization.dll
!bin/System.Web.Providers.dll
!bin/WebGrease.dll
packages
node_modules
npm-debug.log
nugetpkg
/dist/*
!dist/package.json
!dist/*.js
release
coverage
docs
jaydata.js
test.js
apidocs
.history/*