*~
.idea
*.pwd.js
*.suo
*.*.suo
CommandLine.dll
JayData_readme.txt
JaySvcUtil.exe
Scripts/jaydata*
build
/obj/*
/3rdparty/*
/bin/*
!bin/Antlr3.Runtime.dll
!bin/EntityFramework.dll
!bin/System.Net.Http.dll
!bin/System.Net.Http.WebRequest.dll
!bin/System.Web.Optimization.dll
!bin/System.Web.Providers.dll
!bin/WebGrease.dll

