/* 320 and Up _________________________________________________

320 and Up
Andy Clarke http://about.me/malarkey
LESS Version: 2
URL: http://stuffandnonsense.co.uk/projects/320andup/
License: http://creativecommons.org/licenses/MIT/

Includes:


__________________________________________________________ */

@basecol : rgb(123,172,200);	    // Base colour
@compcol : spin(@basecol, 180);  	// Complementary colour

// Links
@linkcol : rgb(1,53,104);
@linkcolhover : darken(@linkcol, 10);
@linkcolvisited : @linkcolhover;
@linkcolfocus : @linkcolhover;

// greyscale
@black : rgb(0,0,0);
@darkgrey : lighten(@black, 25%);
@grey : lighten(@black, 50%);
@lightgrey : lighten(@black, 75%);
@lightergrey : lighten(@black, 90%);
@white : rgb(255,255,255);

// colour palettes
@col_l1 : lighten(@basecol, 5%);
@col_l2 : lighten(@basecol, 10%);
@col_l3 : lighten(@basecol, 15%);
@col_l4 : lighten(@basecol, 20%);

@col_d1 : darken(@basecol, 5%);
@col_d2 : darken(@basecol, 10%);
@col_d3 : darken(@basecol, 15%);
@col_d4 : darken(@basecol, 20%);

@comp_l1 : lighten(@compcol, 5%);
@comp_l2 : lighten(@compcol, 10%);
@comp_l3 : lighten(@compcol, 15%);
@comp_l4 : lighten(@compcol, 20%);

@comp_d1 : darken(@compcol, 5%);
@comp_d2 : darken(@compcol, 10%);
@comp_d3 : darken(@compcol, 15%);
@comp_d4 : darken(@compcol, 20%);

@avanOrange: #e26740;
@avanBlack: #1a171b;
@inactive: #989898;

/*#region FONT */

/*#region FONT-FACE*/
@font-face {
	font-family: 'DINProBold';
	src: url('fonts/dinpro/dinpro-bold-webfont.eot');
	src: url('fonts/dinpro/dinpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/dinpro/dinpro-bold-webfont.woff') format('woff'),
		 url('fonts/dinpro/dinpro-bold-webfont.ttf') format('font/truetype'),
		 url('fonts/dinpro/dinpro-bold-webfont.svg#DINProBold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DINProRegular';
	src: url('fonts/dinpro/dinpro-regular-webfont.eot');
	src: url('fonts/dinpro/dinpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/dinpro/dinpro-regular-webfont.ttf') format('font/truetype'),
		 url('fonts/dinpro/dinpro-regular-webfont.svg#DINProRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DINProMedium';
	src: url('fonts/dinpro/dinpro-medium-webfont.eot');
	src: url('fonts/dinpro/dinpro-medium-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/dinpro/dinpro-medium-webfont.ttf') format('font/truetype'),
		 url('fonts/dinpro/dinpro-medium-webfont.svg#DINProMedium') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FamiliarProBold';
	src: url('fonts/familiar_pro/familiar_pro_bold-webfont.eot');
	src: url('fonts/familiar_pro/familiar_pro_bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/familiar_pro/familiar_pro_bold-webfont.woff') format('woff'),
		 url('fonts/familiar_pro/familiar_pro_bold-webfont.ttf') format('font/truetype'),
		 url('fonts/familiar_pro/familiar_pro_bold-webfont.svg#FamiliarProBold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'SegoeUILight';
	src: url('fonts/segoeuil-webfont.eot');
	src: url('fonts/segoeuil-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/segoeuil-webfont.ttf') format('font/truetype'),
		 /*url('fonts/segoeuil-webfont.woff') format('woff'),*/
		 /*url('fonts/segoeuil-webfont.svgz#SegoeUILight') format('svg'),*/
		 url('fonts/segoeuil-webfont.svg#SegoeUILight') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'SegoeWP';
    src: url('fonts/segoewp.eot');
    src: url('fonts/segoewp.eot?#iefix') format('embedded-opentype'),
         /*url('fonts/segoewp.woff') format('woff'),*/
         url('fonts/segoewp.ttf') format('font/truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SegoeWPLight';
    src: url('fonts/segoewp-semilight.eot');
    src: url('fonts/segoewp-semilight.eot?#iefix') format('embedded-opentype'),
         /*url('fonts/segoewp-semilight.woff') format('woff'),*/
         url('fonts/segoewp-semilight.ttf') format('font/truetype');
    font-weight: normal;
    font-style: normal;
}
/*#endregion FONT-FACE*/

.font-size(@font-size: 16){
@rem: (@font-size / 10);
font-size: @font-size * 1px;
font-size: ~"@{rem}rem"; }

.sans-serif {
font-family : 'Helvetica Neue', Helvetica, Arial, sans-serif; }

.serif {
font-family : Cambria, Georgia, Times, 'Times New Roman'; }

.monospace {
font-family : 'Monaco', Courier New, monospace; }

.century {
font-family : 'Century Gothic', Verdana, Arial; }

.arial {
font-family : Arial, Helvetica, sans-serif; }

.dinpro {
font-family: 'DINProMedium', Verdana, Arial; }

.dinproreg {
font-family: 'DINProRegular', Verdana, Arial; }

.segoewp {
font-family: 'SegoeWP', 'Century Gothic', Arial !important; }

.segoewplight {
font-family: 'SegoeWPLight', 'Century Gothic', Arial !important; }

.segoeuilight { 
font-family: 'SegoeUILight', 'Century Gothic', Arial !important; }
/*#endregion FONT */

/*#region LAYOUT */
@baseline : 1.5em;

.tdnone     { text-decoration: none; }
.tdnone_    { text-decoration: none !important; }
.tdunder    { text-decoration: underline; }
.tdunder_   { text-decoration: underline !important; }
.tdthrough  { text-decoration: line-through; }

.taleft     { text-align: left; }
.taleft_    { text-align: left !important; }
.tacenter   { text-align: center; }
.taright    { text-align: right; }
.tajustify  { text-align: justify; }

.fwbold     { font-weight: bold; }
.fwbold_    { font-weight: bold !important; }
.fwnormal   { font-weight: normal; }
.fwnormal_  { font-weight: normal !important; }

.italic     { font-style: italic; }

.fleft      { float: left; }
.fright     { float: right; }
.fnone      { float: none; }

.clear      { clear: both; }
.cnone      { clear: none; }

.toupper    { text-transform: uppercase; }
.tolower    { text-transform: lowercase; }
.ttnone     { text-transform: none; }
.capitalize { text-transform: capitalize; }

.show       { display: block; }
.hide       { display: none; }
.iblock     { display: inline-block; }
.iblock_    { display: inline-block !important; }
.inline     { display: inline; }
.table      { display: table; }
.tcell      { display: table-cell; }

.noborder   { border: none; }
.noborder_  { border: none !important; }

.vamiddle   { vertical-align: middle; }

.box {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; }
	
.nobox {
	-webkit-box-sizing: initial;
	-moz-box-sizing: initial;
	box-sizing: initial; }
	
.dbox {
    display: -webkit-box;
    display: -moz-box;    
    display: box; }
    
.dbox-center {
    -webkit-box-pack: center;
    -webkit-box-align: center;  
    -moz-box-pack: center;
    -moz-box-align: center;  
    box-pack: center;
    box-align: center; }

.relative   { position: relative; }
.absolute   { position: absolute; }
.fixed      { position: fixed; }
.static     { position: static; }
.static_    { position: static !important; }

.ohidden { overflow: hidden; }
.ovisible { overflow: visible; }

.reset-mp { margin: 0 !important; padding: 0 !important; }
.reset-m { margin: 0 !important; }
.reset-p { padding: 0 !important; }
.mauto { margin: 0 auto !important; }

.padding5                   { padding: 5px;  }
.padding10                  { padding: 10px; }
.padding20                  { padding: 20px; }
.padding30                  { padding: 30px; }

.padding0_10                { padding: 0 10px; }
.padding10_0                { padding: 10px 0; }
.padding18_0                { padding: 18px 0; }
.padding25_30               { padding: 25px 30px; }
.padding15_25               { padding: 15px 25px; }
.padding0_20                { padding: 0 20px; }
.padding20_20_0_20          { padding: 20px 20px 0 20px; }
.padding0_20_20_20          { padding: 0 20px 20px 20px; }

.paddingr15                 { padding-right: 15px; }

.margin5                    { margin: 5px;  }
.margin10                   { margin: 10px; }
.margin20                   { margin: 20px; }
.margin30                   { margin: 30px; }

.marginr10                  { margin-right: 10px; }
.marginr20                  { margin-right: 20px; }
.margin0_0_20               { margin: 0 0 20px; }
.margin10_0                 { margin: 10px 0; }
.marginb5                   { margin-bottom: 5px; }
.marginb5_                  { margin-bottom: 5px !important; }
.marginb10                  { margin-bottom: 10px; }
.marginb10_                 { margin-bottom: 10px !important; }
.marginb15                  { margin-bottom: 15px; }
.marginb20                  { margin-bottom: 20px; }
.margin20_0_10              { margin: 20px 0 10px; }
.margin5_0_10_0             { margin: 5px 0 10px; }

.margint-89                 { margin-top: -89px; }
.margint9                   { margin-top: 9px; }
.margint10                  { margin-top: 10px; }
.margint15                  { margin-top: 15px; }
.marginl35_                 { margin-left: 35px !important; }

.code-snippet {
    min-height: 20px;
    margin: 10px 0; padding: 15px 25px;
    background: white;
    border: 1px solid #DDD;
    .rounded(0px);
}
/*#endregion LAYOUT */

/*#region METRO */
#metro {
	.tile {
		display: block;
		width: 114px; height: 114px;
		margin: 4px;
		border: none;
		float: left;
		clear: none;
		color: #fff;
		
		-webkit-transform: translate3d(0px, 0px, 0px) rotateY(0deg);
		-webkit-transition-duration: 300ms;
		
		> span { 
			.show; .size(100%, 100%);
			
			&:hover { cursor: pointer; }
			
		    span {
		        &.middle {
			        .show; .size(100%, 50px, 50px); .position(absolute, 50%); margin-top: -25px; .font-size(37); .tacenter;
		        }
		        &.text {
			        .position(absolute, auto, auto, 7px, 7px); .font-size(13); line-height: 13px;
		        }
		        &.number {
			        .position(absolute, 7px, 7px); .font-size(14); line-height: 14px;
		        }
		        color: #fff;
		    }
		}
	}
	
	.tilewide {
		display: block;
		width: 236px; height: 114px;
		margin: 4px;
		border: none;
		float: left;
		
		-webkit-transform: translate3d(0px, 0px, 0px) rotateY(0deg);
		-webkit-transition-duration: 300ms;
		
		span {
		    color: #fff;
		}
	}
}
/*#endregion METRO */

/*#region FUNCTIONS */
.vheight(@height: auto, @line-height: inherit) {
height: @height;
line-height: @line-height; }

.size(@width: auto, @height: auto, @line-height: initial){
width: @width;
height: @height;
line-height: @line-height; }

.opacity(@opacity: 1){
-webkit-opacity : @opacity;
-moz-opacity: @opacity;
opacity: @opacity; }

.position(@position: static, @top: auto, @right: auto, @bottom: auto, @left: auto){
position: @position;
top: @top;
right: @right;
bottom: @bottom;
left: @left; }

.m(@top: auto, @right: auto, @bottom: auto, @left: auto){
margin: @top @right @bottom @left; }

.p(@top: auto, @right: auto, @bottom: auto, @left: auto){
padding: @top @right @bottom @left; }
/*#endregion FUNCTIONS */

/*#region MIXINS */

.clearfix {
	zoom : 1;

	&:before, &:after {
		content : "\0020"; 
		display : block; 
		height : 0; 
		overflow : hidden; }

	&:after {
		clear: both; }
}

.tap {
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
-moz-tap-highlight-color: rgba(0, 0, 0, 0);
tap-highlight-color: rgba(0, 0, 0, 0); }

/*#endregion MIXINS */

/*#region BORDERRADIUS */

.rounded(@radius:3px) {
-webkit-border-radius : @radius;
-moz-border-radius : @radius;
border-radius : @radius; }

.border(@top-color: #eee, @top-radius: 1px, @right-color: #eee, @right-radius: 1px, @bottom-color: #eee, @bottom-radius: 1px, @left-color: #eee,  @left-radius: 1px) {
border-top : solid @top-radius @top-color;
border-left : solid @left-radius @left-color;
border-right : solid @right-radius @right-color;
border-bottom : solid @bottom-radius @bottom-color; }

.border-radius(@topright: 0, @bottomright: 0, @bottomleft: 0, @topleft: 0) {
-webkit-border-top-right-radius : @topright;
-webkit-border-bottom-right-radius : @bottomright;
-webkit-border-bottom-left-radius : @bottomleft;
-webkit-border-top-left-radius : @topleft;
-moz-border-radius-topright : @topright;
-moz-border-radius-bottomright : @bottomright;
-moz-border-radius-bottomleft : @bottomleft;
-moz-border-radius-topleft : @topleft;
border-top-right-radius : @topright;
border-bottom-right-radius : @bottomright;
border-bottom-left-radius : @bottomleft;
border-top-left-radius : @topleft; }

/*#endregion BORDERRADIUS */

/*#region BOXSHADOW */

.drop-shadow(@x-axis: 0, @y-axis: 1px, @blur: 2px, @alpha: 0.1) {
-webkit-box-shadow : @x-axis @y-axis @blur rgba(0, 0, 0, @alpha);
-moz-box-shadow : @x-axis @y-axis @blur rgba(0, 0, 0, @alpha);
box-shadow : @x-axis @y-axis @blur rgba(0, 0, 0, @alpha); }

.colored-shadow(@x-axis: 0, @y-axis: 0px, @blur: 15px, @color: White) {
-webkit-box-shadow : @x-axis @y-axis @blur @color;
-moz-box-shadow : @x-axis @y-axis @blur @color;
-ms-box-shadow: @x-axis @y-axis @blur @color;
box-shadow : @x-axis @y-axis @blur @color; }

.inset-shadow(@horizontal:0, @vertical:1px, @blur:2px, @alpha: 0.4) {
-webkit-box-shadow : inset @horizontal @vertical @blur rgba(0, 0, 0, @alpha);
-moz-box-shadow : inset @horizontal @vertical @blur rgba(0, 0, 0, @alpha);
box-shadow : inset @horizontal @vertical @blur rgba(0, 0, 0, @alpha); }

.box-shadow(@arguments) {
-webkit-box-shadow : @arguments;
-moz-box-shadow : @arguments;
box-shadow : @arguments; }

/*#endregion BOXSHADOW */

/*#region CSS COLUMNS */

.columns(@colwidth: 250px, @colcount: 0, @colgap: 50px, @columnRuleColor: #eee, @columnRuleStyle: solid, @columnRuleWidth: 1px) {
-webkit-column-width : @colwidth;
-webkit-column-count : @colcount;
-webkit-column-gap : @colgap;
-webkit-column-rule-color : @columnRuleColor;
-webkit-column-rule-style : @columnRuleStyle;
-webkit-column-rule-width : @columnRuleWidth;
-moz-column-width : @colwidth;
-moz-column-count : @colcount;
-moz-column-gap : @colgap;
-moz-column-rule-color : @columnRuleColor;
-moz-column-rule-style : @columnRuleStyle;
-moz-column-rule-width : @columnRuleWidth;
column-width : @colwidth;
column-count : @colcount;
column-gap : @colgap;
column-rule-color : @columnRuleColor;
column-rule-style : @columnRuleStyle;
column-rule-width : @columnRuleWidth; }

/*#endregion CSS COLUMNS */

/*#region CSS GRADIENTS */

.grad-bw(@color: #f5f5f5, @start: 0, @stop: 255) {
background : @color;
background : -webkit-gradient(linear,
left bottom,
left top,
color-stop(0, rgb(@start,@start,@start)),
color-stop(1, rgb(@stop,@stop,@stop)));
background : -moz-linear-gradient(center bottom,
rgb(@start,@start,@start) 0%,
rgb(@stop,@stop,@stop) 100%); }

.grad-col(@color: #f5f5f5, @start: #eee, @stop: #fff) {
background : @color;
background : -webkit-gradient(linear,
left bottom,
left top,
@start,
@stop);
background : -moz-linear-gradient(center bottom,
@start 0%,
@stop 100%); }

.horizontal-gradient (@startColor: #555, @endColor: #333) {
	background-image: -webkit-gradient(linear, left top, right top, from(@startColor), to(@endColor));
	background-image: -webkit-linear-gradient(right center, @startColor, @endColor);
	background-image: -moz-linear-gradient(right center, @startColor, @endColor); }

.horizontal-three-color-gradient (@firstStop: 0, @startColor: #00b3ee, @midStop: 0.5, @midColor: #7a43b6, @lastStop: 1, @endColor: #c3325f) {
	background-repeat: no-repeat;
	background-image: -webkit-gradient(linear, left top, right top, 
		color-stop(@firstStop, @startColor), 
		color-stop(@midStop, @midColor), 
		color-stop(@lastStop, @endColor));
	background-image: -webkit-linear-gradient(
		@startColor @firstStop, 
		@midColor @midStop, 
		@endColor @lastStop);
	background-image: -moz-linear-gradient(
		@startColor @firstStop, 
		@midColor @midStop, 
		@endColor @lastStop); }

.horizontal-four-color-gradient (@firstStop: 0, @startColor: #00b3ee, @secondStop: 0, @secondColor: #00b3ee, @midStop: 0.5, @midColor: #7a43b6, @lastStop: 1, @endColor: #c3325f) {
	background-repeat: no-repeat;
	background-image: -webkit-gradient(linear, left top, right top, 
		color-stop(@firstStop, @startColor), 
		color-stop(@secondStop, @secondColor), 
		color-stop(@midStop, @midColor), 
		color-stop(@lastStop, @endColor));
	background-image: -webkit-linear-gradient(
		@startColor @firstStop,
		@secondColor @secondStop, 
		@midColor @midStop, 
		@endColor @lastStop);
	background-image: -moz-linear-gradient(
		@startColor @firstStop, 
		@secondColor @secondStop,
		@midColor @midStop, 
		@endColor @lastStop); }

.vertical-gradient (@startColor: #555, @endColor: #333) {
	background-image: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
	background-image: -webkit-linear-gradient(@startColor, @endColor);
	background-image: -moz-linear-gradient(@startColor, @endColor); }

.vertical-three-color-gradient (@startColor: #00b3ee, @colorStop: 0.5, @midColor: #7a43b6, @endColor: #c3325f) {
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@startColor), color-stop(@colorStop, @midColor), to(@endColor));
	background-image: -webkit-linear-gradient(@startColor, color-stop(@colorStop, @midColor), @endColor);
	background-image: -moz-linear-gradient(@startColor, color-stop(@midColor, @colorStop), @endColor); }
	
/*#endregion CSS GRADIENTS */

/*#region CSS TRANSFORMS */

.rotate(@deg : 5deg){ 
-webkit-transform : rotate(@deg);
-moz-transform : rotate(@deg);
-ms-transform : rotate(@deg);
transform : rotate(@deg); }

.scale(@ratio : 1.5){
-webkit-transform : scale(@ratio);
-moz-transform : scale(@ratio);
-ms-transform: scale(@ratio);
transform : scale(@ratio); }

.translate(@transformX : 20px, @transformY : 20px) {
-webkit-transform : translate(@transformX, @transformY);
-moz-transform : translate(@transformX, @transformY);
transform : translate(@transformX, @transformY); }

.translate3d (@x, @y:0, @z:0) {
-webkit-transform: translate3d(@x, @y, @z);
-moz-transform: translate3d(@x, @y, @z);
transform: translate3d(@x, @y, @z);	}

.skew (@deg, @deg2){
-webkit-transform: skew(@deg, @deg2);
-moz-transform: skew(@deg, @deg2);
transform: skew(@deg, @deg2); }

.perspective (@value:1000) {
 -webkit-perspective: @value;
	-moz-perspective: @value;
		 perspective: @value; }

.transform-origin (@x:center, @y:center) {
	-webkit-transform-origin: @x @y;
	   -moz-transform-origin: @x @y;
		-ms-transform-origin: @x @y;
			transform-origin: @x @y; }

/*#endregion CSS TRANSFORMS */

/*#region CSS TRANSITIONS */
.transition(){
-webkit-transition: all 0.2s ease;
-moz-transition:    all 0.2s ease;
-ms-transition:     all 0.2s ease;
-o-transition:      all 0.2s ease; }

.transition-duration(@duration : .2s) {
-moz-transition-duration : @duration;
-webkit-transition-duration : @duration;
transition-duration: @duration; }

.transition(@duration: .2s, @ease: ease) {
-webkit-transition : all @duration @ease;
-moz-transition : all @duration @ease;
-ms-transition: all @duration @ease;
-o-transition: all @duration @ease;
transition : all @duration @ease; }

/*#endregion CSS TRANSITIONS */