<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">JayData tests</a></p>
        </div>
    </div>
</header>
<div id="body">
    <a href="test.html">Test source</a><br />
    <a href="test_JayData.html">Test JayData</a><br />
    <a href="test_JayData_min.html">Test JayData (min)</a><br />
    <br />
    <a href="pro/test.html">Test Pro source</a><br />
    <a href="pro/test_JayData.html">Test JayData Pro</a><br />
    <a href="pro/test_JayData_min.html">Test JayData Pro (min)</a><br />
    <br />
    <a href="test_cdn_JayData.html">Test JayData CDN</a><br />
    <br />
    <a href="test_JayData_nuget.html">Test JayData from nuget</a><br />
    <a href="test_JayData_min_nuget.html">Test JayData from nuget (min)</a><br />
    <a href="test_JayData_nuget_prov.html">Test JayData from nuget (auto provider loader)</a><br />
</div>
